.mid-section-container {
  height: 75.5vh;
  width: 100%;
  background: url("../../assets/images/balenos.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.mid-section-container .car-description-container {
  font-size: 1.2em;
  line-height: 90%;
  font-family: "AudioWide", Times, serif;
  height: 230px;
  width: 25%;
  color: white;
  background-color: black;
  opacity: 0.9;
  margin-left: 35px;
  margin-top: 70px;
  padding: 15px 15px 15px 15px;
}
.mid-section-container .car-description-container .find-out-more-btn {
  cursor: pointer;
  width: 50%;
  height: 45px;
  background-color: #cc0000;
  color: white;
  border: 0px solid #cc0000;
  margin-top: 20px;
}
.mid-section-container .page-down-btn {
  margin-top: auto;
  margin-left: 0;
  margin-right: 48.05%;
  height: 70px;
  width: 70px;
  background-color: #cc0000;
  color: white;
  border: none;
}