.mid-section-container {
    height: 650px;
    width: 100%;
    //background-color: rgb(123, 134, 140);
    background: url("../../assets/images/balenos.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    .car-description-container {
        font-size: 1.2em;
        line-height: 90%;
        font-family: "AudioWide", Times, serif;
        height: 35%;
        width: 25%;
        color: white;
        background-color: black;
        opacity: 0.9;
        margin-left: 35px;
        margin-top: 70px;
        padding: 35px 15px 15px 15px;
        
    }

}