.nav {
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    height: 100vh;
    left: -170%;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
  }
  
  .nav.expanded { left: 0; }
  
  .nav ul {
    position: absolute;
    top: 20%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    left: 30%;
    padding: 0;

    a {
      text-decoration: none;
      color: white;
    }
  }