.footer-container {
    color: #102F59;
    height: 85px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;

    @media screen and (min-height: 820px) and (max-height: 990px) {
        height: 9vh;
    }
    
    .footer-option {
        font-family: "UBUNTU", Times, serif;
        padding-top: 25px;
        border-right: 0.1px solid #102F59;
        width: 25%;
        height: 75px;
        cursor: pointer;
        line-height: 20%;
        font-weight: bold;
    }


    .footer-option:last-child {
        border: none;
    }


}


