.top-section-container {
  width: 100%;
  background-color: black;
  height: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.top-section-container .logo-container {
  width: 16%;
}
.top-section-container .logo-container .logo-image {
  max-width: 100%;
  max-height: 130%;
  display: block;
}
.top-section-container .menu-container {
  display: flex;
  justify-content: space-around;
  width: 42%;
  text-align: center;
}
.top-section-container .menu-container .menu-item {
  padding-top: 35px;
  width: 20%;
  cursor: pointer;
}
.top-section-container .menu-container .menu-item:hover {
  letter-spacing: 2px;
  transform: scale(1.05);
}