.top-section-container {
    width: 100%;
    background-color: black;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    z-index: 10;

    @media screen and (min-height: 820px) and (max-height: 990px) {
        height: 10vh;
    }

    .logo-container {
        width: 16%;
        z-index: 10;

        .logo-image {
            max-width: 100%;
            max-height: 130%;
            display: block;

            @media screen and (max-width: 1100px) {
                margin-left: -60px;
              }

            @media screen and (max-width: 1430px) {
                width: 220px;
                height: 120px;
                max-width: 300%;
                max-height: 300%;
                margin-left: -20;
              }

        }
    }
    .menu-container {
        display: flex;
        justify-content: space-around;
        width: 42%;
        text-align: center;

        .menu-item {
            padding-top: 25px;
            width: 20%;
            cursor: pointer;

            @media screen and (max-width: 1430px) {
                display: none;
              }

            @media screen and (min-height: 820px) and (max-height: 990px) {
                padding-top: 35px;
            }

            #header-icon {
                font-size: 1.4em;
            }

        }
        .menu-item:hover {
            letter-spacing: 2px;
            transform: scale(1.05);
        }
    }
}